{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "semistandard",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["mocha", "chai-friendly"],
  "globals" : {
    "artifacts": true,
    "assert": true,
    "contract": true
  },
  "ignorePatterns": ["node_modules/", "artifacts", "coverage", "!.solcover.js", "deployments/dist", "**/*.ts"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "curly": ["error", "all"],
    "max-len": ["error", { "code": 120 }],
    "mocha/no-async-describe": "error",
    "mocha/no-exclusive-tests": "error",
    "no-nested-ternary": "error",
    "no-unused-vars": ["warn", { "varsIgnorePattern": "^_(unused|$)" }],
    "padded-blocks": "off",
    "no-unused-expressions": "off",
    "chai-friendly/no-unused-expressions": ["error", { "allowShortCircuit": true }]
  }
}
