{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "semistandard",
  "globals" : {
    "artifacts": true,
    "assert": true,
    "contract": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "padded-blocks": "off",
    "comma-dangle": ["warn", "always-multiline"],
    "no-unused-vars": ["warn", { "varsIgnorePattern": "^_unused" }]
  }
}
