{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "semistandard",
  "globals" : {
    "artifacts": true,
    "assert": true,
    "contract": true
  },
  "ignorePatterns": ["node_modules/", "artifacts"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "max-len": ["error", { "code": 120 }],
    "no-unused-vars": ["warn", { "varsIgnorePattern": "^_unused" }],
    "padded-blocks": "off"
  }
}
